    upstream {{ service_name }} {
        server 10.101.15.71:{{ service_port }};
        server 10.101.15.72:{{ service_port }};
        server 10.101.15.73:{{ service_port }};
        server 10.101.15.74:{{ service_port }};
        server 10.101.15.75:{{ service_port }};
        server 10.101.15.76:{{ service_port }};
        server 10.101.15.77:{{ service_port }};
        server 10.101.15.78:{{ service_port }};
    }

    server {
	listen {{ service_port }};
        proxy_pass {{ service_name }};
    }

